@use "reset.css";
@use "../scss/variables/colors" as c;
@use "../scss/variables/fonts" as f;
@use "../scss/variables/breakpoints" as b;
@use "grid" as g;
@use "../scss/sections/navigation" as n;
@use "../scss/sections/hero" as h;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("../assets/pictures/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 260%;
}

@media (min-width: b.$smallMobilBreakPoint) {
  body {
    background-size: 310%;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  body {
    background-size: 150%;
  }
}

@media (min-width: b.$desktopBreakPoint) {
  body {
    background-size: 100%;
  }
}

h1 {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  letter-spacing: 0.1em;
  font-size: 22px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

p {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  letter-spacing: 0.1em;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

span {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  font-weight: 500;
  letter-spacing: 0.15em;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
