@use "reset.css";
@use "../scss/variables/colors" as c;
@use "../scss/variables/fonts" as f;
@use "../scss/variables/breakpoints" as b;
@use "grid" as g;
@use "../scss/sections/navigation" as n;
@use "../scss/sections/hero" as h;

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url("../assets/pictures/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

//nastavení viněty na obrazovkách větších než 1600px
@media (min-width: b.$largeDesktopBreakPoint) {
  body {
    position: relative;
  }

  body::after {
    content: "";
    position: absolute;
    height: 100vh;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.35) 100%
    );
  }

  // úprava layoutu pro velké displeje
  .navigation_container {
    padding: 0 90px 0 90px;
  }

  .hero_pictureTextGroup {
    margin-top: 80px;
  }

  .header {
    height: 150px;
  }
}
