@use "../variables/colors" as c;
@use "../variables/fonts" as f;
@use "../variables/breakpoints" as b;
@use "../grid";

.hero_container {
  display: grid;
  grid-template-columns: 1fr;
}

.hero_TextButton {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.dot {
  position: relative;
  top: -0.2em; // pozicování tečky
  font-size: 0.7em;
}

h1 {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  font-weight: 500;
  letter-spacing: 0.07em;
  font-size: 22px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
}

p {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.design_a_kod {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  font-weight: 600;
  letter-spacing: 0.13em;
  font-size: 14px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(153, 153, 153, 0.3) 20%,
    rgba(153, 153, 153, 0.3) 80%,
    transparent 100%
  );
}

.hero_motiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  position: relative;
  display: inline-block;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    inset: -10px;
    background: url("../assets/pictures/light.png") center / contain no-repeat;
    opacity: 0.5;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: url("../assets/pictures/mlha.png") center / contain no-repeat;
    opacity: 0.7;
    z-index: -1;
  }

  img {
    width: 95%;
    position: relative;
    z-index: 0;
    filter: drop-shadow(-10px 0px 10px c.$DarkShadow);
  }

  .planet {
    position: absolute;
    inset: 0px;
    background: url("/assets/pictures/planet.png") center / contain no-repeat;
    z-index: -3;
    filter: drop-shadow(-10px -5px 50px rgb(15, 27, 36, 0.5))
      drop-shadow(-10px 0px 110px rgb(15, 27, 36, 0.2));
  }
}

.button {
  position: relative;
  max-width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  padding: 14px 22px 12px 24px;
  border: none;
  background: none;
  font-family: f.$basicFont;
  color: white;
  letter-spacing: 0.2em;
  font-weight: 500;
  text-decoration: none;
  text-shadow: -2px 1px 2px c.$TextShadow;

  .rocket {
    width: 36px;
    padding: 2px 5px;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/assets/pictures/main_button.png") center / 100% no-repeat;
    z-index: -1;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
  }

  .hero_pictureTextGroup {
    .text {
      .picture {
        margin-top: 100px;
      }
    }
  }
}
