@use "../variables/colors" as c;
@use "../variables/fonts" as f;
@use "../variables/breakpoints" as b;
@use "../variables/hero_scale" as s;

.hero {
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_TextButton {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.dot {
  position: relative;
  top: -0.2em; // pozicování tečky
  font-size: 0.7em;
}

h1 {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  font-weight: 500;
  letter-spacing: 0.07em;
  font-size: 22px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
}

.design_frontend {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 13px;
}

.design_a_kod {
  color: c.$SmallTextColor;
  font-family: f.$basicFont;
  font-weight: 600;
  letter-spacing: 0.13em;
  font-size: 14px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(153, 153, 153, 0.3) 20%,
    rgba(153, 153, 153, 0.3) 80%,
    transparent 100%
  );
}

.hero_motiv {
  position: relative;
  display: flex;
  width: 240px;
  margin: 0 auto;
}

.picture {
  position: relative;
  display: block;
  width: 100%;
  transform: translateX(-10px);
  &::before {
    content: "";
    position: absolute;
    inset: -5px;
    background: url("../assets/pictures/light.png") center / contain no-repeat;
    opacity: 0.3;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: url("../assets/pictures/mlha.png") center / contain no-repeat;
    opacity: 0.7;
    z-index: -1;
  }

  img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    filter: drop-shadow(-10px 0px 10px c.$DarkShadow);
  }

  .planet {
    position: absolute;
    inset: 0px;
    background: url("/assets/pictures/planeta.png") center / contain no-repeat;
    z-index: -3;
    filter: drop-shadow(-10px -5px 50px rgb(15, 27, 36, 0.5))
      drop-shadow(-10px 0px 110px rgb(15, 27, 36, 0.2));
  }
}

.button {
  position: relative;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 18px;
  padding: 7px 0px 7px 7px;
  border: none;
  background: none;
  font-family: f.$basicFont;
  font-size: 15px;
  color: white;
  letter-spacing: 0.15em;
  font-weight: 500;
  text-decoration: none;
  text-shadow: -2px 1px 2px c.$TextShadow;

  .rocket {
    width: 36px;
    padding: 2px 5px;
  }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/assets/pictures/main_button.png") center / 100% no-repeat;
    z-index: -1;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .hero_content {
    display: grid;
    grid-template-columns: minmax(0, 1.2fr) minmax(0, 1fr);
    align-items: center;
  }

  .hero_TextButton {
    .text {
      align-items: start;
    }
  }

  h1 {
    font-size: s.$HeroScaleName;
  }

  .design_frontend {
    padding-left: 10px;
    font-size: s.$HeroScaleDesign;
  }

  .design_a_kod {
    transform: translateX(-18px);
    font-size: s.$HeroScaleKod;
  }

  .hero_motiv {
    width: s.$HeroMotiv;
    transform: translateX(50px);
  }

  .button {
    margin-top: 22px;
    width: s.$HeroButton;
    font-size: 16px;
  }
}
