@use "../variables/colors" as c;
@use "../variables/fonts" as f;
@use "../variables/breakpoints" as b;
@use "../variables/hero_scale" as s;
@use "../variables/mixins" as m;

.hero {
  min-height: calc(100dvh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_TextButton {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.dot {
  position: relative;
  top: -0.2em; // pozicování tečky
  font-size: 0.7em;
}

h1 {
  @include m.heroText(22px, c.$SmallTextColor);
  font-weight: 500;
  letter-spacing: 0.07em;
  margin-bottom: 8px;
}

.design_frontend {
  @include m.heroText(16px, c.$SmallTextColor);
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

.design_a_kod {
  @include m.heroText(16px, #efdfa0);
  font-weight: 500;
  letter-spacing: 0.08em;
  text-shadow: 0 0 7px #656464db;
  opacity: 0.9;
  background: linear-gradient(90deg, #facbad, #efbff8, #f7ce9d);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientMove 7s cubic-bezier(0.4, 0, 1, 1) infinite;
}

.hero_motiv {
  // display: flex;
  max-height: 245px;
  width: auto;
  margin: 0 auto;
}

.picture {
  position: relative;
  isolation: isolate; // vlastní stacking context
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  min-height: 300px;
  background-color: red;
  filter: drop-shadow(-10px 0px 10px c.$DarkShadow);
  background: url("/assets/pictures/profilovka.png") left center / contain
    no-repeat;

  .wireframe {
    position: absolute;
    inset: 0px;
    background: url("../assets/pictures/wireframe.png") center / contain
      no-repeat;
    opacity: 0.9;
    z-index: 1;
    animation: lightPulse 3s ease-in-out infinite;
    will-change: transform;
  }

  .prstenec {
    position: absolute;
    inset: 0px;
    background: url("../assets/pictures/prstenec.png") center / contain
      no-repeat;
    opacity: 0.8;
    z-index: 2;
    transform-origin: center;
    animation: gentleFloat 8s ease-in-out infinite;
    will-change: transform;
  }

  .mlha {
    position: absolute;
    inset: -5px;
    background: url("/assets/pictures/mlha.png") center / contain no-repeat;
    z-index: 3;
    opacity: 0.8;
    animation: lightSway 9s ease-in-out infinite;
    will-change: transform;
  }

  .filtr {
    position: absolute;
    inset: 0px;
    background: url("/assets/pictures/filtr.png") center / contain no-repeat;
    z-index: 4;
    opacity: 0.6;
  }
}

.button {
  position: relative;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 24px;
  border: none;
  background: none;
  @include m.heroText(15px, c.$SmallTextColor);
  letter-spacing: 0.1em;
  font-weight: 600;
  //  color: #aaa; /* výchozí barva */
  // animation: glow 4s ease-in-out infinite;
  // will-change: color, text-shadow;

  .rocket {
    width: 36px;
    padding: 2px 5px;
    filter: drop-shadow(-1px 0px 0px c.$DarkShadow);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/assets/pictures/main_button.png") center / 100% no-repeat;
    z-index: -1;
    filter: drop-shadow(-3px 3px 1px c.$DarkShadow);
  }
}

// @keyframes glow {
//   0% {
//     color: #e6e5e5;
//     text-shadow: 0 0 0px #00d4ff;
//   }
//   50% {
//     color: #fff;
//     text-shadow: 0 0 12px #00d4ff;
//   }
//   100% {
//     color: #e6e5e5;
//     text-shadow: 0 0 0px #00d4ff;
//   }
// }

@keyframes gradientMove {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes colorShift {
  0% {
    color: #f9f0cf;
  }
  50% {
    color: #efdfa0;
  }
  100% {
    color: #f9f0cf;
  }
}

@keyframes lightSway {
  0% {
    transform: translate(0, -40px);
  }
  50% {
    transform: translate(calc(0px + 2%), calc(-40px + 10px));
  }
  100% {
    transform: translate(0, -40px);
  }
}

@keyframes gentleFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .hero_content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.7fr);
    align-items: center;
  }

  .hero_TextButton {
    .text {
      align-items: start;
      max-width: 220px;
    }
  }

  h1 {
    font-size: s.$HeroScaleName;
  }

  .design_frontend {
    font-size: s.$HeroScaleDesign;
    margin-inline-start: 10px;
  }

  .design_a_kod {
    font-size: s.$HeroScaleKod;
    letter-spacing: 0.02em;
    margin-inline-start: 22px;
  }

  .hero_motiv {
    width: s.$HeroMotiv;
    justify-self: end;
    max-height: 340px;
  }

  .button {
    margin-top: 22px;
    width: s.$HeroButton;
    font-size: 16px;
  }
}
