@use "../variables/colors" as c;
@use "../variables/fonts" as f;
@use "../variables/breakpoints" as b;
@use "../grid" as g;

.header {
  position: relative;
  height: 90px;
  z-index: 10;
  &:has(.menu_button_checkbox:checked) {
    .navigation_menu {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.navigation_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  margin: 17px 0;
  img {
    height: 45px;
  }
}

.menu_button {
  font-size: 20px;
  color: white;
  background-color: c.$DecorationColor;
  border-radius: 5px;
  box-shadow: 0px 0px 1px black;
  padding: 5px;
}

.socials_list {
  display: flex;
}

.search-wrapper {
  position: relative;

  i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

input[type="search"] {
  padding-right: 2.5rem;
}

.menu_button_checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.navigation_menu {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  transform: translateY(0px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.25s ease-out, opacity 0.2s ease-out;
  will-change: transform, opacity;
  backface-visibility: hidden;
  .navigation_items {
    display: flex;
    align-items: center;
    flex-direction: column;
    li {
      font-family: f.$basicFont;
      letter-spacing: 0.1em;
      font-weight: 400;
      font-style: normal;
      list-style: none;
      text-transform: uppercase;
      padding: 3px 10px;
      margin: 10px 70px 20px 70px;
      a {
        text-decoration: none;
        color: c.$DecorationColor;
        &:hover {
          text-decoration: underline;
          text-decoration-color: c.$DecorationColor;
          text-underline-offset: 4px;
        }
      }
    }
  }
}

@media (min-width: b.$largeMobilBreakPoint) {
  .menu_button {
    position: absolute;
    right: 20px;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .navigation_container {
    display: flex;
  }

  .menu_button {
    display: none;
  }

  .navigation_menu {
    position: static;
    transform: none !important;
    opacity: 1 !important;
    top: 0;
    pointer-events: auto;
    margin: 0;
    background-color: transparent;
    border-radius: 0;

    .navigation_items {
      flex-direction: row;
      li {
        margin: 0;
        padding: 0 20px;
        a {
          color: white;
          padding: 5px 0;
        }
      }
    }
  }

  .logo {
    margin-bottom: 20px;
    padding: 0 10px;
    img {
      height: 50px;
    }
  }
}
