$HeroScaleName: clamp(23px, calc(18.4px + 0.6vw), 27px);
$HeroScaleDesign: clamp(17px, calc(12.4px + 0.6vw), 21px);
$HeroScaleKod: clamp(19px, calc(15.6px + 0.45vw), 22px);
$HeroMotiv: clamp(370px, calc(320px + 7vw), 420px);
$HeroButton: clamp(180px, calc(157px + 3vw), 200px);
