$HeroScaleName: clamp(23px, calc(14px + 1.3vw), 27px);
$HeroScaleDesign: clamp(16px, calc(9.5px + 0.9vw), 18.5px);
$HeroScaleKod: clamp(15px, calc(8px + 0.9vw), 16.5px);
$HeroMotiv: clamp(370px, calc(316px + 7vw), 400px);
