@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/colors" as c;

details {
  @include m.heroText(15px, c.$SmallTextColor);
  padding: 12px 13px 12px 32px;
}

.dev_details {
  -webkit-backdrop-filter: blur(8px); // Safari / iOS Safari
  backdrop-filter: blur(8px);
  background: #ffffff08;
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
