@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/colors" as c;
@use "../../styles/variables/breakpoints" as b;

details {
  @include m.heroText(15px, c.$SmallTextColor);
  padding-inline: 25px;
}

.dev_details {
  -webkit-backdrop-filter: blur(8px); // Safari / iOS Safari
  backdrop-filter: blur(8px);
  background: #ffffff08;
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  text-align: start;

  ul {
    padding-block: 10px;
    font-size: 12px;
  }

  summary {
    font-family: Oxanium, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-block: 16px;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .dev_details {
    padding-inline: 60px;

    ul {
      font-size: 15px;
    }

    summary {
      font-size: 16px;
    }
  }
}
