@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.project {
  position: relative;
  transition: opacity 0.4s ease;
  margin: 50px 0;
  overflow: hidden;
}

@media (min-width: b.$tabletBreakPoint) {
  .project_content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 40px;
    width: 100%;
    .project_text {
      margin-top: 150px;
      min-width: 0;
    }
  }
}
