@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.project {
  position: relative;
  margin: 70px 0;

  .project_content {
    max-width: 65ch; // škálování podle typografie, ch = šířka znaku „0“ v daném fontu
  }
}

#project {
  scroll-margin-top: 70px; // výška navigace //
}

.project_allGroups {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  text-align: justify; // zarovnání do bloku ( text-align: justify + hyphens: auto;)
  hyphens: auto; // umožní dělení slov, text vypadá přirozeněji
}

.project_intro_text,
.SpaceForCreation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.project_intro_motiv,
.project_creation_motiv {
  text-align: center;
  filter: brightness(0.9) contrast(0.9) saturate(1);

  -webkit-mask-image: radial-gradient(
    circle at 60% 40%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.6) 85%,
    rgba(0, 0, 0, 0) 100%
  );

  mask-image: radial-gradient(
    circle at 60% 40%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.6) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.project_intro_motiv img,
.project_creation_motiv img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 20px #dddddd2e;
}

// TEXTY - první v pořadí
.project_intro_text {
  order: 1;
  .project_title {
    text-align: center;
  }

  .whySenseSpace {
    text-align: center;
    display: block;
  }
}

.SpaceForCreation {
  order: 3;
}

// OBRÁZKY - vždy za textem

// .project_motiv {
//   border-radius: 20px;
//   img {
//     width: 100%;
//     height: 300px; // na mobilu fixní výška, umožní ořez
//     border-radius: 20px;
//     margin-bottom: 60px;
//     object-fit: cover;
//     box-shadow: 0 0 20px #dddddd2e;
//     // object-position: center; // ladění uvnitř obrázku - top, bottom, left, right
//   }
// }

.project_intro_motiv {
  order: 2;
}

.project_creation_motiv {
  order: 4;
}

@media (min-width: b.$tabletBreakPoint) {
  .project_allGroups {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    min-width: 0; // řeší přetékání sloupců, zalamuje text
    column-gap: 70px;
    row-gap: 60px;
    .project_title {
      text-align: right;
    }

    .project_intro_text {
      grid-column: 1;
      grid-row: 1;

      .whySenseSpace {
        text-align: right;
      }
    }

    .SpaceForCreation {
      grid-column: 2;
      grid-row: 2;
    }

    .project_intro_motiv,
    .project_creation_motiv {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: auto;
        border-radius: 40px;
      }
    }

    .project_intro_motiv img {
      grid-column: 1;
      grid-row: 1;
    }

    .project_creation_motiv img {
      grid-column: 2;
      grid-row: 2;
    }
  }
}
