@use "../../styles/variables/mixins" as m;

.dev_details {
  -webkit-backdrop-filter: blur(8px); // Safari / iOS Safari
  backdrop-filter: blur(8px);
  background: #ffffff08;
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  summary {
    padding: 13px;
  }
}
