@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.hero {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.hero_Text {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 9px;

    .myName {
      @include m.heroText(24px, c.$SmallTextColor);
      font-weight: 500;
      letter-spacing: 0.13em;
      animation: softlyGlow 4s ease-in-out infinite;
      will-change: transform;
    }

    .design_frontend {
      @include m.heroText(18px, c.$SmallTextColor);
      letter-spacing: 0.1em;
      animation: softlyGlow 4s ease-in-out infinite;
      will-change: transform;
    }
  }

  .slogan_button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.design_a_kod {
  @include m.titleText(19px, c.$akcentColor);
  padding-block: 20px;
  animation: softlyGlow 4s ease-in-out infinite;
  will-change: transform;
  background: radial-gradient(circle at 10% 30%, #ffb87a, #ff917a, #ff4ecb);

  -webkit-background-clip: text; // Chrome, Edge, Safari
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hero_motiv {
  position: relative;
  isolation: isolate;
  width: 250px;
  aspect-ratio: 1 / 1;

  .person {
    position: absolute;
    inset: 0px;
    .person_wrapper {
      position: absolute;
      inset: 0px;
      pointer-events: none;
      filter: drop-shadow(-10px 0px 10px c.$DarkShadow);
      background: url("/src/assets/images/planet.png") left center / contain
        no-repeat;
      z-index: 1;

      .wireframe {
        position: absolute;
        inset: 0px;
        background: url("/src/assets/images/wireframe.png") center / contain
          no-repeat;
        opacity: 1;
        animation: wireGlow 3s ease-in-out infinite;
        will-change: transform;
        z-index: 2;
      }

      .profilovka {
        position: absolute;
        inset: 0px;
        background: url("/src/assets/images/profilovka.png") left center /
          contain no-repeat;
        opacity: 1;
        z-index: 3;
      }

      .filtr {
        position: absolute;
        inset: 0px;
        background: url("/src/assets/images/filtr.png") center / contain
          no-repeat;
        z-index: 4;
        opacity: 0.6;
      }
    }
  }

  .prstenec {
    position: absolute;
    transform: scale(1.1);
    inset: 0 -25px 0 0;
    background: url("/src/assets/images/prstenec.png") center / contain
      no-repeat;
    opacity: 0.8;
  }

  .mlha {
    position: absolute;
    inset: -22px;
    background: url("/src/assets/images/mlha.png") center / contain no-repeat;
    opacity: 1;
    animation: lightSway 7s ease-in-out infinite;
    will-change: transform;
  }
}

.button {
  position: relative;
  min-width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background: none;
  font-weight: 600;
  gap: 5px;

  @include m.heroText(18px, c.$SmallTextColor);
  letter-spacing: 0.05em;

  // malá animace stisknutí buttonu na mobilu
  &:active {
    transform: scale(0.97);
    transition: transform 0.1s ease;
  }

  .rocket {
    width: 25px;
    filter: drop-shadow(0 0 1px c.$textLight);
    opacity: 0.9;
    transition: transform 0.7s ease;
  }

  .text {
    position: relative;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/src/assets/icons/main_button.png") center / 100% no-repeat;
    z-index: -1;
    filter: drop-shadow(-3px 3px 1px c.$DarkShadow);
  }

  // stín za buttonem
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    filter: blur(15px);
    z-index: -2;
  }
}

// hover tlačítka "Explore" je aplikovaný pouze na zařízení, která ho podporují
@media (hover: hover) and (pointer: fine) {
  .button:hover .rocket {
    transform: translate(2px, -2px);
  }

  .button:hover .text {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .hero {
    min-height: 85vh;
  }

  .hero_content {
    display: grid;
    grid-template-columns: minmax(0, 1.3fr) minmax(0, 1fr);
    align-items: center;
  }

  .hero_Text {
    min-width: 0; // ochrana proti přetečení textu mimo grid
    .text {
      align-items: start;
      gap: 11px;

      .myName {
        font-size: s.$HeroScaleName;
        transform: translateX(-10px);
      }

      .design_frontend {
        font-size: s.$HeroScaleDesign;
      }
    }

    .design_a_kod {
      font-size: s.$HeroScaleKod;
    }
  }

  .hero_motiv {
    width: s.$HeroMotiv;

    .person_wrapper {
      transform: scale(none);
    }

    .prstenec {
      transform: scale(1.3);
      inset: 0 -25px 0 0;
    }
  }

  .button {
    width: s.$HeroButton;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
}

@media (min-width: b.$desktopBreakPoint) {
  .hero_content {
    .button {
      font-size: 19px;
    }
  }
}
