@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.hero {
  min-height: calc(100dvh - 70px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 6vh;
}

#hero {
  scroll-margin-top: 70px; // výška navigace //
}

.hero_Text {
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;

    .myName {
      @include m.heroText(22px, c.$SmallTextColor);
      font-weight: 500;
      letter-spacing: 0.13em;
      filter: drop-shadow(0 0 1px c.$textLight);
    }

    .design_frontend {
      @include m.heroText(16px, c.$SmallTextColor);
      font-weight: 300;
      letter-spacing: 0.1em;
      line-height: 1.15;
      filter: drop-shadow(0 0 1px c.$textLight);

      .dot {
        position: relative;
        top: -0.2em; // pozicování tečky
        font-size: 0.7em;
      }
    }

    .graphic {
      @include m.heroText(16px, c.$SmallTextColor);
      letter-spacing: 0.08em;
      padding-bottom: 15px;
    }
  }

  .slogan_button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.design_a_kod {
  @include m.heroText(18px, #fbe183);
  font-weight: 500;
  letter-spacing: 0.1em;
  background: linear-gradient(45deg, #fbe183, #fc5dcc, #c7d5db);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.25;
  filter: drop-shadow(0 0 1px c.$textLight);
  //padding-bottom: 0.08em; // pojistka proti useknutí písmene g
}

.hero_motiv {
  position: relative;
  isolation: isolate;
  width: 230px;
  aspect-ratio: 1 / 1;

  .person {
    position: absolute;
    inset: 0px;
    .person_wrapper {
      position: absolute;
      inset: 0px;
      pointer-events: none;
      filter: drop-shadow(-10px 0px 10px c.$DarkShadow);
      background: url("/src/assets/images/planet.png") left center / contain
        no-repeat;
      z-index: 1;

      .wireframe {
        position: absolute;
        inset: 0px;
        background: url("/src/assets/images/wireframe.png") center / contain
          no-repeat;
        opacity: 1;
        animation: wireGlow 3s ease-in-out infinite;
        will-change: transform;
        z-index: 2;
      }

      .profilovka {
        position: absolute;
        inset: 0px;
        background: url("/src/assets/images/profilovka.png") left center /
          contain no-repeat;
        opacity: 1;
        z-index: 3;
      }

      .filtr {
        position: absolute;
        inset: 0px;
        background: url("/src/assets/images/filtr.png") center / contain
          no-repeat;
        z-index: 4;
        opacity: 0.6;
      }
    }
  }
}

.prstenec {
  position: absolute;
  transform: scale(1.1);
  inset: 0 -25px 0 0;
  background: url("/src/assets/images/prstenec.png") center / contain no-repeat;
  opacity: 0.8;
}

.mlha {
  position: absolute;
  inset: -20px;
  background: url("/src/assets/images/mlha.png") center / contain no-repeat;
  opacity: 1;
  animation: lightSway 7s ease-in-out infinite;
  will-change: transform;
}

.button {
  position: relative;
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  border: 1px solid transparent;
  background: none;
  @include m.heroText(18px, c.$SmallTextColor);
  letter-spacing: 0.1em;
  font-weight: 600;
  gap: 5px;

  // malá animace stisknutí buttonu na mobilu
  &:active {
    transform: scale(0.97);
    transition: transform 0.1s ease;
  }

  .rocket {
    width: 25px;
    filter: drop-shadow(0 0 1px c.$textLight);
    opacity: 0.9;
    transition: transform 0.7s ease;
  }

  .text {
    position: relative;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/src/assets/icons/main_button.png") center / 100% no-repeat;
    z-index: -1;
    filter: drop-shadow(-3px 3px 1px c.$DarkShadow);
  }
  // stín za buttonem
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    filter: blur(15px);
    z-index: -2;
  }
}

@keyframes wireGlow {
  0% {
    opacity: 0.4;
    filter: brightness(1) drop-shadow(0 0 5px #fff);
  }

  50% {
    opacity: 1;
    filter: brightness(1.6) drop-shadow(0 0 20px #fff);
  }

  100% {
    opacity: 0.4;
    filter: brightness(1) drop-shadow(0 0 5px #fff);
  }
}

@keyframes lightSway {
  0% {
    transform: translate(0, -8px);
  }
  50% {
    transform: translate(calc(2%));
  }
  100% {
    transform: translate(0, -8px);
  }
}

// hover tlačítka "Explore" je aplikovaný pouze na zařízení, která ho podporují
@media (hover: hover) and (pointer: fine) {
  .button:hover .rocket {
    transform: translate(2px, -2px);
  }

  .button:hover .text {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  }
}

// breakpoint pro tablet
@media (min-width: b.$tabletBreakPoint) {
  .hero {
    padding-top: 10vh;
  }

  .hero_content {
    display: grid;
    grid-template-columns: minmax(0, 1.3fr) minmax(0, 1fr);
    align-items: center;
  }

  .hero_Text {
    min-width: 0; // ochrana proti přetečení textu mimo grid
    .text {
      align-items: start;

      .myName {
        font-size: s.$HeroScaleName;
        transform: translateX(-20px);
      }

      .design_frontend {
        font-size: s.$HeroScaleDesign;
        transform: translateX(-15px);
      }

      .graphic {
        font-size: s.$HeroScaleDesign;
        transform: translateX(5px);
      }
    }

    .slogan_button {
      align-items: start;
      padding-left: 10px;

      .design_a_kod {
        font-size: s.$HeroScaleKod;
        letter-spacing: 0.1em;
      }
    }
  }

  .hero_motiv {
    width: s.$HeroMotiv;

    .person_wrapper {
      transform: scale(none);
    }

    .prstenec {
      transform: scale(1.3);
      inset: 0 -25px 0 0;
    }
  }

  .button {
    margin-top: 25px;
    width: s.$HeroButton;
    font-size: 19px;
    letter-spacing: 0.1em;
    margin-left: 10px;
  }
}
