@use "../../styles/variables/colors" as c;
@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/breakpoints" as b;

.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  height: 47px;
  padding-inline: 42px;

  background: radial-gradient(
    circle at 45% -29%,
    #ef8787 6%,
    #f52f9dd1 51% 45%,
    #bd008f 71%,
    #4e2958bd 129%
  );

  // border: 1px solid #ffffff75;
  border-radius: 18px;
  cursor: pointer;

  text-shadow: -1px -1px 12px #89016c1f;

  box-shadow: inset -3px -4px 5px 2px #23003270, inset 2px 2px 4px #ffb4dc73,
    0 0 6px #ff00b48c;

  // malá animace stisknutí buttonu na mobilu
  &:active {
    transform: scale(0.97);
    transition: transform 0.1s ease;
  }

  &__rocket {
    width: 25px;
    opacity: 0.9;
    transition: transform 0.7s ease;
  }

  .button__text {
    transition: transform 0.2s ease, text-shadow 0.2s ease;
  }

  // bílá záře a obrys nad buttonem
  &::before {
    content: "";
    filter: blur(0.8px);
    z-index: 1;
    background: #ffffff17;
    border: 1px solid #ffd6e8ea;
    border-radius: 14px;
    width: 93%;
    height: 34px;
    position: absolute;
  }

  // stín za buttonem
  &::after {
    content: "";
    filter: blur(23px);
    z-index: -1;
    background: #ffc9ad4f;
    border-radius: 50%;
    width: 80%;
    height: 60px;
    position: absolute;
  }
}

.button--rounded {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 10px;

  &::before {
    content: "";
    border-radius: 50%;
    width: 85%;
    height: 85%;
  }
}

.button__icon {
  width: 32px;
  height: 32px;
}

// hover tlačítka "Explore" je aplikovaný pouze na zařízení, která ho podporují
@media (hover: hover) and (pointer: fine) {
  .button:hover .rocket {
    transform: translate(2px, -2px);
  }

  .button:hover .text {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  }
}
