@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/text" as e;

body.modal__open {
  overflow: hidden; // zakáže scroll celé stránky na pozadí
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;

  padding-inline: 1rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &__content {
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #ffffff1f;
    border-radius: 10px;

    background: #8a8a8a24;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    line-height: e.$line-height;
  }

  &__image {
    width: 100%;
  }

  &__image--astronaut {
    width: 40%;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    background: none;
    font-size: 25px;
    color: rgb(39, 39, 39);
  }

  &__links {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-bottom: 20px;
  }

  &__title {
    display: inline-flex;
  }

  &__title--accent {
    color: c.$akcentColor;
    font-size: 12px;
    padding-block: 10px;
  }

  &__text-wrapper {
    padding-inline: 15px;
  }

  &__text {
    @include m.heroText(15px, c.$SmallTextColor);
    padding-bottom: 7px;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .modal {
    grid-template-columns: minmax(0, 0.8fr);
    justify-content: center;

    &__text-wrapper {
      padding: 41px;
    }
  }
}

@media (min-width: b.$desktopBreakPoint) {
  .modal {
    grid-template-columns: minmax(0, 0.6fr);

    &__text-wrapper {
      padding-inline: 80px;
    }
  }
}
