@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/text" as e;

body.modal__open {
  overflow: hidden; // zakáže scroll celé stránky na pozadí
}

.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;

  padding-inline: 1rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &__content {
    position: relative;
    max-height: 80vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #ffffff1f;
    border-radius: 10px;

    background: #8a8a8a24;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    line-height: e.$line-height;
  }

  &__image-wrapper {
    width: 100%;

    picture {
      display: block;
      width: 100%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__image--logo {
    width: 70%;
    filter: drop-shadow(1px 2px 2px rgba(23, 23, 23, 0.253));
    background: white;
    border-radius: 5px;
    padding: 8px 14px;
  }

  &__image--astronaut {
    width: 100%;
  }

  &__close {
    position: absolute;

    top: 15px;
    right: 14px;

    border: none;
    background: none;
    font-size: 25px;
    color: #656262;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 18px;

    .links__wrapper {
      display: flex;
      gap: 12px;
    }
  }

  .title__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    display: inline-flex;
    align-items: end;
    @include m.gradientTitle;
  }

  &__subtitle {
    @include m.gradientTitle;
  }

  &__title--accent {
    color: c.$akcentColor;
    font-size: 12px;
    padding-block: 10px;
  }

  &__content-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 14px 35px;

    @include m.heroText(15px, c.$SmallTextColor);
    line-height: 1.5em;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list {
    list-style-type: circle;
    line-height: 1.4;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .modal {
    grid-template-columns: minmax(0, 0.8fr);
    justify-content: center;

    &__content-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 20px 30px;
    }

    &__links {
      grid-column: 1/-1;
      gap: 50px;
    }

    &__subtitle {
      grid-column: 1/-1;
      font-size: 18px;
    }

    &__title {
      font-size: 24px;
    }
  }
}

@media (min-width: b.$desktopBreakPoint) {
  .modal {
    grid-template-columns: minmax(0, 0.6fr);
  }
}
