@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/text" as e;

.portfolio_intro {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  row-gap: 8px;
}

.portfolio_text {
  @include m.heroText(16px, c.$SmallTextColor);
  line-height: e.$line-height;
  letter-spacing: 0.1em;
  font-weight: 300;
  hyphens: none; // dělení slov
}
