@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;
@use "../../styles/variables/text" as e;

.project_title {
  padding-block: 30px;
}

.portfolio_header {
  display: grid;
  width: 70%;
  row-gap: 8px;
  margin-inline: auto;
  justify-content: center;
  text-align: center;
  padding: 30px 0 50px;
}

// společné barvy pro varianty
.portfolio_number,
.portfolio_subtitle {
  &.frontend {
    color: c.$DecorationColor;
  }

  &.graphic {
    color: c.$akcentColor;
  }
}

.portfolio_label {
  @include m.titleText(24px, c.$SmallTextColor);
  font-weight: 500;
}

.subtitle_wrapper {
  display: flex;
  flex-direction: row;

  @include m.titleText(17px, c.$SmallTextColor);
  font-weight: 500;
  align-self: end;
  letter-spacing: 0.03em;
}

.portfolio_text {
  @include m.heroText(14px, c.$SmallTextColor);
  line-height: e.$line-height;
  font-weight: 300;
  hyphens: auto; // dělení slov
  text-align: center;
}

.portfolio_slider {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.project_container {
  display: flex;
  justify-items: center;
  gap: 30px;
  // odsazení slideru zleva a zprava
  &::before,
  &::after {
    content: "";
    flex: 0 0 2rem;
  }

  > * {
    flex: 0 0 270px;
    scroll-snap-align: center; //vycentrování karty při scrollu
  }

  .project_card {
    position: relative;
    width: 100%;
    min-height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include m.heroText(16px, c.$SmallTextColor);

    -webkit-backdrop-filter: blur(10px); // Safari / iOS Safari
    backdrop-filter: blur(10px);
    background: rgba(
      255,
      255,
      255,
      0.04
    ); // přidání průhlednosti pro starší prohlížeče
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;

    padding: 35px 10px 15px;
    overflow: hidden;
  }

  .project_card_tags {
    font-size: 12px;
    padding-inline-end: 24px; // aby poslední tag nezajížděl do fade

    display: flex;
    gap: 5px;

    overflow-x: auto;
    text-wrap-mode: nowrap;

    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // starší Edge

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, Edge
    }

    mask-image: linear-gradient(
      to right,
      black 0,
      black calc(100% - 30px),
      transparent 100%
    );

    -webkit-mask-image: linear-gradient(
      to right,
      black 0,
      black calc(100% - 30px),
      transparent 100%
    );
  }
}

.project_content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  img {
    width: min(180px, 100%); // Použij menší z těchto dvou hodnot.
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
  }

  .project_text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.slider_dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-block: 30px;

  .slider_dot {
    border: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: #bdbdbd;
    border-radius: 50%;
    transition: 0.3s;

    &.active {
      background-color: black;
      border: 1px solid white;
      transform: scale(1.2);
    }
  }
}

.project_hover_bg {
  width: 100%;
  position: absolute;
  inset: 0;
  // pointer-events: none;

  opacity: 0;
  transform: scale(1.08);
  transition: opacity 0.45s ease, transform 0.6s ease;

  .hover-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.45);
  }

  .click-badge {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 120px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;

    -webkit-backdrop-filter: blur(4px); // Safari / iOS Safari
    backdrop-filter: blur(4px);
    background: rgba(
      255,
      255,
      255,
      0.2
    ); // přidání průhlednosti pro starší prohlížeče

    .click-icon {
      width: 60px;
      height: auto;
    }

    span {
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

// reset hoveru, ochrana pred chybou na mobilu
@media (hover: none) {
  .project_card:active .project_hover_bg {
    opacity: 0;
    transform: scale(1.08);
  }

  .project_card:active .project_image {
    opacity: 1;
    transform: none;
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .portfolio_header {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    text-align: left;
  }

  .portfolio_subtitle {
    text-align: end;
    justify-self: end;
    letter-spacing: 0.01em;
  }

  .portfolio_label {
    font-size: 21px;
  }

  .subtitle_wrapper {
    flex-direction: row;
    justify-content: end;
    gap: 8px;
  }

  .portfolio_text {
    text-align: left;
    hyphens: none; // dělení slov
  }

  .project_content {
    position: relative;
    z-index: 3;
  }

  .project_card_tags {
    position: relative;
    z-index: 5;
  }

  .portfolio_slider {
    overflow: visible;
    scroll-snap-type: none;
  }

  .project_container {
    display: grid;
    grid-template-columns: repeat(
      2,
      clamp(230px, calc(60.18px + 29.28vw), 360px)
    );
    justify-content: center;
    margin-bottom: 50px;

    &::before,
    &::after {
      content: none;
    }

    > * {
      flex: unset;
    }

    .project_card {
      overflow: hidden;
      isolation: isolate;
      cursor: pointer;
      contain: paint; // zabrání “rozlévání” absolutních vrstev
      -webkit-tap-highlight-color: transparent;

      transition: box-shadow 0.4s ease, text-shadow 0.4s ease;

      &:hover {
        box-shadow: 0 0 8px #7dd4fc64;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0);
        transition: 0.4s ease;
        z-index: 1;
      }

      &:hover::before {
        background: rgba(0, 0, 0, 0.1);
      }

      &:hover .project_hover_bg {
        z-index: 4;
        opacity: 1;
        transform: scale(1);
      }

      &:hover .project_image {
        opacity: 0;
        transform: scale(1.7);
      }
    }
  }

  .project_image {
    position: relative;
    display: flex;
    justify-content: center;
    transition: opacity 0.35s ease, transform 0.4s ease;

    & img {
      transition: transform 0.4s ease;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }

  .slider_dots {
    display: none;
  }
}

@media (min-width: b.$desktopBreakPoint) {
  .project_container {
    .project_card_tags {
      flex-wrap: wrap;
      overflow-x: visible;
      padding-inline-end: 0px;
      justify-content: center;
      mask-image: initial;
    }
  }

  .portfolio_subtitle {
    font-size: 19px;
  }

  .portfolio_label {
    font-size: 24px;
  }
}
