@use "./base/_reset.css";
@use "./variables/colors" as c;
@use "./variables/fonts" as f;
@use "./variables/breakpoints" as b;
@use "./variables/hero_scale" as s;
@use "../components/header/header" as n;
@use "../components/hero/hero" as h;
@use "../components/about/aboutMe" as a;
@use "../components/project/project" as p;
@use "../components/portfolio/portfolio" as o;
@use "../components/contacts/contacts" as k;
@use "../components/footer/footer" as t;
@use "./variables/mixins" as m;
@use "./variables/text" as e;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; // jemný plynulý scroll
}

body {
  position: relative;
  min-height: 100vh;
  background-image: url("../assets/images/background_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.35) 100%
    );
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-inline: 30px;
}

h1 {
  @include m.heroText(24px, c.$SmallTextColor);
  font-weight: 500;
}

strong {
  @include m.heroText(15px, c.$SmallTextColor);
  font-weight: 500;
}

.about_allGroups,
.experiments_text,
.project_allGroups,
.about_text {
  @include m.heroText(14px, c.$SmallTextColor);
  line-height: e.$line-height;
  letter-spacing: 0.09em;
  font-weight: 200;
}

@media (min-width: b.$tabletBreakPoint) {
  body {
    background-image: url("../assets/images/background.png");
  }

  .layout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
  }
}
