@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

p {
  @include m.heroText(20px, c.$SmallTextColor);
  letter-spacing: 0.07em;
}

.about {
  position: relative;
  color: white;
  transition: opacity 0.4s ease;
  margin: 50px 0;
  overflow: hidden;
}

.about_text {
  overflow-wrap: break-word;
}

@media (min-width: b.$tabletBreakPoint) {
  .about_content {
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) minmax(0, 0.7fr);
    gap: 40px;
    width: 100%;
    .about_text {
      padding: 20px;
      min-width: 0;
    }
  }
}
