@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.about {
  position: relative;
  margin: 70px 0;
  // overflow: hidden;

  .about_content {
    max-width: 660px;
  }
}

// .about_allGroups p {
//   margin-bottom: 20px;
// }

.about_allGroups {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

// TEXTY - první v pořadí
.intro_text {
  order: 1;
}
.spaceAndTexture {
  order: 3;
}
.technologyAndTools {
  order: 5;
}
.artAndMind {
  order: 7;
}
.outro_text {
  order: 9;
}

// OBRÁZKY - vždy za textem
.about_intro_motiv {
  order: 2;
}
.about_spaceAndTexture_motiv {
  order: 4;
}
.about_technologyAndTools_motiv {
  order: 6;
}
.about_artAndMind_motiv {
  order: 8;
}
.about_outro_motiv {
  order: 10;
}

.about_title {
  text-align: center;
}

.about_intro_motiv,
.about_spaceAndTexture_motiv,
.about_technologyAndTools_motiv,
.about_artAndMind_motiv,
.about_outro_motiv {
  text-align: center;
}

.about_motiv {
  // overflow: hidden;
  border-radius: 20px;
  img {
    width: 100%;
    height: 300px; // na mobilu fixní výška, umožní ořez
    border-radius: 20px;
    margin-bottom: 60px;
    object-fit: cover;
    box-shadow: 0 0 20px #dddddd2e;
    // object-position: center; // ladění uvnitř obrázku - top, bottom, left, right
  }
}

.about_intro_motiv img,
.about_spaceAndTexture_motiv img,
.about_technologyAndTools_motiv img,
.about_artAndMind_motiv img,
.about_outro_motiv img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 20px #dddddd2e;
}

@media (min-width: b.$tabletBreakPoint) {
  .about_motiv img {
    border-radius: 40px;
  }

  .about_allGroups {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    min-width: 0;
    column-gap: 70px;
    row-gap: 60px;

    .about_title {
      text-align: left;
    }

    .intro_text,
    .spaceAndTexture,
    .technologyAndTools,
    .artAndMind,
    .outro_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }

    .about_intro_motiv,
    .about_spaceAndTexture_motiv,
    .about_technologyAndTools_motiv,
    .about_artAndMind_motiv,
    .about_outro_motiv {
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: auto;
        border-radius: 40px;
      }
    }

    .about_intro_motiv img {
      grid-column: 1;
      grid-row: 1;
    }

    .about_spaceAndTexture_motiv img {
      grid-column: 2;
      grid-row: 2;
    }

    .about_technologyAndTools_motiv img {
      grid-column: 1;
      grid-row: 3;
    }

    .about_artAndMind_motiv img {
      grid-column: 2;
      grid-row: 4;
    }

    .about_outro_motiv img {
      grid-column: 1;
      grid-row: 5;
    }

    .intro_text {
      grid-column: 2;
      grid-row: 1;
    }

    .spaceAndTexture {
      grid-column: 1;
      grid-row: 2;
    }

    .technologyAndTools {
      grid-column: 2;
      grid-row: 3;
    }

    .artAndMind {
      grid-column: 1;
      grid-row: 4;
    }

    .outro_text {
      grid-column: 2;
      grid-row: 5;
    }
  }
}
