@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.about {
  position: relative;
  margin: 40px 0;
  overflow: hidden;
  .about_content {
    max-width: 600px;
  }
}

.about_title {
  text-align: center;
}

@media (min-width: b.$tabletBreakPoint) {
  .about_content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 40px;
    // width: 100%;
    .about_allGroups {
      margin-top: 150px;
      min-width: 0;
    }
  }
}
