@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;

.experiments {
  position: relative;
  transition: opacity 0.4s ease;
  margin: 50px 0;
  overflow: hidden;
}

@media (min-width: b.$tabletBreakPoint) {
  .experiments_content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 40px;
    width: 100%;
  }
}
