@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.changeLanguage {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  .lang-btn {
    font-family: f.$titleFont;
    font-size: 13px;
    font-weight: 600;
    line-height: 2;
  }
}

.header {
  position: sticky;
  padding-inline: 30px;
  height: 70px;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(20, 20, 20, 0.5);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

//ztmavení - mizení obsahu pod headerem
.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 80px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(48, 47, 47, 0.532),
    rgba(0, 0, 0, 0)
  );
}

.navigation_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: inline-block;
  position: relative;
  @include m.titleText(22px, c.$SmallTextColor);
}

.menu_button {
  position: relative;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  color: white;
  border: 0px solid transparent;
  border-radius: 50%;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(
      circle at 10% 30%,
      hsl(10, 100%, 74%),
      #ff4ecb,
      #89016c
    );
    z-index: 0;
    filter: drop-shadow(-3px 3px 1px c.$DarkShadow);
  }
}

// způsob, jak přepínat dvě ikonky (hamburger a X) pomocí atributu + animace
// translate(-50%, -50%) = centrování
.menu_button[aria-expanded="true"] .icon-open {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

.icon-open {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
}

.menu_button[aria-expanded="true"] .icon-close {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
}

.icon-close {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.navigation_menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: c.$SmallTextColor;
  border-radius: 5px;
  backface-visibility: hidden;
  margin-top: 10px;
  transform: translateX(0%) translateY(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
  opacity: 0;
  pointer-events: none;

  // třída vytvořená pro funkčnost v JS, není v DOM
  &.is-open {
    transform: translateY(0);
    opacity: 0.9;
    pointer-events: auto;
    z-index: 1000;
  }

  .navigation_items {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-block: 20px;

    li {
      font-family: f.$titleFont;
      font-weight: 400;
      list-style: none;
      text-transform: uppercase;

      .dotted-link {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: c.$DecorationColor;
      }

      // odstraní tečkovaný bílý rámeček -a:focus- při kliknutí
      .dotted-link:focus:not(:focus-visible) {
        outline: none;
      }

      .dotted-link:focus-visible {
        outline: 2px dotted c.$DecorationColor;
        outline-offset: 4px;
      }
    }
  }
}

@media (min-width: b.$tabletBreakPoint) {
  .menu_button {
    display: none;
  }

  .navigation_menu {
    position: static;
    transform: none !important;
    opacity: 1 !important;
    top: 0;
    pointer-events: auto;
    margin: 0;
    background-color: transparent;
    border-radius: 0;

    .navigation_items {
      flex-direction: row;
      gap: 14px;
      li {
        padding-inline: 5px;
        font-size: 14px;
        .dotted-link {
          color: white;
        }
      }
    }
  }

  .navigation_container {
    justify-content: space-between;
  }

  .logo img {
    height: 36px;
  }

  // .logo-link {
  //   padding-left: 25px;
  // }

  .dotted-link,
  .logo-link {
    transition: transform 0.7s ease, filter 0.5s ease;

    &:hover {
      filter: drop-shadow(0 0 1px c.$textLight);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

@media (min-width: b.$desktopBreakPoint) {
  .navigation_menu {
    .navigation_items {
      gap: 30px;
      li {
        padding-inline: 10px;
        font-size: 15px;
      }
    }
  }
}
