@use "../variables/colors" as c;
@use "../variables/fonts" as f;

@mixin heroText($fontSize, $fontColor) {
  font-family: f.$basicFont;
  font-size: $fontSize;
  font-style: italic;
  color: $fontColor;
  text-decoration: none;
  letter-spacing: 0.05em;
}

// @mixin image-mask {
//   -webkit-mask-image: radial-gradient(
//     circle at 60% 40%,
//     #000 20%,
//     rgba(0, 0, 0, 0.6) 85%,
//     transparent 100%
//   );
//   mask-image: radial-gradient(
//     circle at 60% 40%,
//     #000 20%,
//     rgba(0, 0, 0, 0.6) 85%,
//     transparent 100%
//   );
// }
