@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;

.footer {
  width: 100%;
  min-height: 100px;
  padding-block: 30px;
  .socials_list {
    display: flex;
    justify-content: center;
    gap: 28px;
    a {
      display: inline-block;
      color: c.$SmallTextColor;
      opacity: 0.8;
      transition: 0.3s;
      font-size: 17px;
    }

    a:hover {
      opacity: 1;
      transform: translateY(-4px) scale(1.1);
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    }
  }

  &__copyright {
    padding-block: 15px;
    font-family: f.$basicFont;
    font-size: 12px;
    text-align: center;
    color: c.$SmallTextColor;
    letter-spacing: 0.07em;
    opacity: 0.8;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  }
}

.footer_info {
  font-family: f.$basicFont;
  color: c.$SmallTextColor;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}
