html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-results-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  vertical-align: top;
  resize: vertical;
  overflow: auto;
}

audio, canvas, video {
  max-width: 100%;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}

figure, form {
  margin: 0;
}

legend {
  white-space: normal;
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  vertical-align: baseline;
  margin: 0;
  font-size: 100%;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  color: #000;
  background: #ccc;
  margin: .2em 0;
  padding: .2em 0;
}

.header {
  z-index: 1000;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
}

.header:has(.menu_button_checkbox:checked) .navigation_menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0%)translateY(0);
}

section {
  scroll-margin-top: 100px;
}

.navigation_container {
  justify-content: space-around;
  align-items: end;
  height: 100%;
  display: flex;
}

.logo img {
  height: 32px;
}

.menu_button {
  color: #fff;
  background-color: #ef0083;
  border-radius: 50%;
  padding: 7px;
  font-size: 20px;
  box-shadow: 0 0 1px #000;
}

.menu_button_checkbox {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.navigation_menu {
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  backface-visibility: hidden;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-top: 10px;
  transition: transform .3s, opacity .3s;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateX(0%)translateY(-10px);
}

.navigation_menu .navigation_items {
  color: #ef0083;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: relative;
}

.navigation_menu .navigation_items li {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 10px 70px 20px;
  padding: 3px 10px;
  font-family: Barlow Condensed, sans-serif;
  font-style: italic;
  font-weight: 400;
  list-style: none;
}

.navigation_menu .navigation_items li .dotted-link {
  color: #ef0083;
  text-decoration: none;
  transition: transform .15s;
  display: inline-block;
  position: relative;
}

.navigation_menu .navigation_items li .dotted-link:active {
  transform: scale(.95);
}

.navigation_menu .navigation_items li .dotted-link:after {
  content: "";
  border-bottom: 2px dotted #ef0083;
  width: 0;
  height: 2px;
  transition: width .3s;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation_menu .navigation_items li .dotted-link:hover:after {
  width: 100%;
}

.navigation_menu .navigation_items li .dotted-link:focus:not(:focus-visible) {
  outline: none;
}

.navigation_menu .navigation_items li .dotted-link:focus-visible {
  outline-offset: 4px;
  outline: 2px dotted #ef0083;
}

@media (width >= 768px) {
  .menu_button {
    display: none;
  }

  .navigation_menu {
    pointer-events: auto;
    background-color: #0000;
    border-radius: 0;
    margin: 0;
    position: static;
    top: 0;
    opacity: 1 !important;
    transform: none !important;
  }

  .navigation_menu .navigation_items {
    flex-direction: row;
    gap: 20px;
  }

  .navigation_menu .navigation_items li {
    margin: 0 0 8px;
    padding: 0 20px;
  }

  .navigation_menu .navigation_items li .dotted-link {
    color: #fff;
  }

  .logo {
    padding: 0 10px;
  }

  .logo img {
    height: 36px;
  }
}

.hero {
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100dvh - 70px);
  padding-top: 6vh;
  display: flex;
}

.hero_content, .hero_Text {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.hero_Text .text {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dot {
  font-size: .7em;
  position: relative;
  top: -.2em;
}

h1 {
  color: #f8f8f8;
  text-shadow: 0 0 2px #fffff680;
  letter-spacing: .07em;
  margin-bottom: 8px;
  font-family: Barlow Condensed, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  text-decoration: none;
}

.design_frontend {
  color: #f8f8f8;
  text-shadow: 0 0 2px #fffff680;
  letter-spacing: .05em;
  margin-bottom: 16px;
  font-family: Barlow Condensed, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3;
  text-decoration: none;
}

.break {
  display: block;
}

.design_a_kod {
  color: #0000;
  text-shadow: 0 0 2px #fffff680;
  letter-spacing: .1em;
  background: linear-gradient(90deg, #fbe183, #fc5dcc, #daebf2);
  -webkit-background-clip: text;
  font-family: Barlow Condensed, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  text-decoration: none;
}

.hero_motiv {
  isolation: isolate;
  aspect-ratio: 1;
  width: 230px;
  position: relative;
}

.hero_motiv .person {
  position: absolute;
  inset: 0;
}

.hero_motiv .person .person_wrapper {
  pointer-events: none;
  filter: drop-shadow(-10px 0 10px #192e3c4d);
  z-index: 1;
  background: url("planet.26f98136.png") 0 / contain no-repeat;
  position: absolute;
  inset: 0;
}

.hero_motiv .person .person_wrapper .wireframe {
  opacity: 1;
  will-change: transform;
  z-index: 2;
  background: url("wireframe.7df3b7b8.png") center / contain no-repeat;
  animation: 3s ease-in-out infinite wireGlow;
  position: absolute;
  inset: 0;
}

.hero_motiv .person .person_wrapper .profilovka {
  opacity: 1;
  z-index: 3;
  background: url("profilovka.8c6c57f7.png") 0 / contain no-repeat;
  position: absolute;
  inset: 0;
}

.hero_motiv .person .person_wrapper .filtr {
  z-index: 4;
  opacity: .6;
  background: url("filtr.d2f60675.png") center / contain no-repeat;
  position: absolute;
  inset: 0;
}

.prstenec {
  opacity: .8;
  background: url("prstenec.b3fd2947.png") center / contain no-repeat;
  position: absolute;
  inset: 0 -25px 0 0;
  transform: scale(1.1);
}

.mlha {
  opacity: .8;
  will-change: transform;
  background: url("mlha.71b4c97f.png") center / contain no-repeat;
  animation: 7s ease-in-out infinite lightSway;
  position: absolute;
  inset: -20px;
}

.button {
  color: #f8f8f8;
  text-shadow: 0 0 2px #fffff680;
  letter-spacing: .1em;
  background: none;
  border: 1px solid #0000;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  height: 55px;
  margin-top: 15px;
  font-family: Barlow Condensed, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  position: relative;
}

.button .rocket {
  filter: drop-shadow(-1px 0 #192e3c4d);
  width: 36px;
  padding: 2px 5px;
}

.button:before {
  content: "";
  z-index: -1;
  filter: drop-shadow(-3px 3px 1px #192e3c4d);
  background: url("main_button.32671f64.png") center / 100% no-repeat;
  position: absolute;
  inset: 0;
}

@keyframes wireGlow {
  0% {
    opacity: .4;
    filter: brightness() drop-shadow(0 0 5px #fff);
  }

  50% {
    opacity: 1;
    filter: brightness(1.6) drop-shadow(0 0 20px #fff);
  }

  100% {
    opacity: .4;
    filter: brightness() drop-shadow(0 0 5px #fff);
  }
}

@keyframes lightSway {
  0% {
    transform: translate(0, -8px);
  }

  50% {
    transform: translate(2%);
  }

  100% {
    transform: translate(0, -8px);
  }
}

@media (width >= 768px) {
  .hero {
    padding-top: 10vh;
  }

  .hero_content {
    grid-template-columns: minmax(0, 1.3fr) minmax(0, 1fr);
    display: grid;
  }

  .hero_Text .text {
    align-items: start;
    max-width: 320px;
  }

  .break {
    display: flex;
    transform: translateX(10px);
  }

  h1 {
    font-size: clamp(23px, 18.4px + .6vw, 27px);
    transform: translateX(-20px);
  }

  .design_frontend {
    margin-bottom: 20px;
    font-size: clamp(17px, 12.4px + .6vw, 21px);
    transform: translateX(-10px);
  }

  .design_a_kod {
    letter-spacing: .03em;
    font-size: clamp(19px, 15.6px + .45vw, 22px);
  }

  .hero_motiv {
    width: clamp(230px, 173px + 17.86vw, 430px);
  }

  .hero_motiv .person_wrapper {
    transform: scale(none);
  }

  .hero_motiv .prstenec {
    inset: 0 -25px 0 0;
    transform: scale(1.3);
  }

  .button {
    letter-spacing: .1em;
    width: clamp(180px, 157px + 3vw, 200px);
    margin-top: 25px;
    font-size: 17px;
  }
}

.about {
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
  position: fixed;
  inset: 0;
}

.about.show {
  opacity: 1;
  pointer-events: auto;
}

p {
  color: #f8f8f8;
  text-shadow: 0 0 2px #fffff680;
  letter-spacing: .07em;
  font-family: Barlow Condensed, sans-serif;
  font-size: 22px;
  font-style: italic;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("background_mobile.a35ade1d.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

body:after {
  content: "";
  pointer-events: none;
  background: linear-gradient(to right, #00000059 0%, #0000 25% 75%, #00000059 100%);
  position: fixed;
  inset: 0;
}

.layout {
  max-width: 1240px;
  margin: 0 auto;
  padding-inline: 20px;
}

@media (width >= 768px) {
  body {
    background-image: url("background.d2b43ef8.png");
  }

  .layout {
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    display: grid;
  }
}
/*# sourceMappingURL=my_web_Smysluplno.574c7455.css.map */
