@use "../../styles/variables/colors" as c;
@use "../../styles/variables/fonts" as f;
@use "../../styles/variables/breakpoints" as b;
@use "../../styles/variables/hero_scale" as s;
@use "../../styles/variables/mixins" as m;

.contacts {
  position: relative;
  color: white;
  transition: opacity 0.4s ease;
}
